.software-section {
    background-color: black;
    color: white;
    padding: 0 40px;
}

.left h5 {
    color: white;
}

.left p {
    font-size: 24px;
    margin-top: 15px;
}

.ia-section {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,1)), url('/src/assets/images/mo.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: right;
}

.ia-items {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 40px;
    width: 100%;
}

.ia-items .right h5 {
    font-size: 16px;
    margin-bottom: 5px;
    letter-spacing: 10px;
    font-weight: 300;
}

.ia-items .right h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.ia-items .right p {
    font-size: 23px;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: black;
}

.careers {
    width: 50%;
    margin-bottom: 20px;
}

.blog {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    gap: 30px;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.careers {
    color: white;
    font-size: 30px;
}

@media screen and (max-width: 767px) {
    main{
        height: 100vh;
    }

    .blog {
        height: auto;
    }

    .careers {
        font-size: 24px;
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .blog {
        justify-content: start;
    }
}