section {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-items {
    padding-top: 70px;
    color: white;
}

.section-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.right{
    width: 40%;
    font-size: 18px;
    color: gainsboro;
}

.left {
    width: 50%;
}

.left h5 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    color: white;
    letter-spacing: 10px;
    margin-bottom: 10px;
}

.left h1 {
    font-size: 48px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px;
    width: 1410px;
    height: 450px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/public/front.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50px;
}

.top-card {
    display: flex;
    justify-content: space-between;
}

.top-card h3 {
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
}

.teams {
    color: white;
}

.team-text {
    text-align: center;
}

.team-text h5 {
    font-size: 16px;
    color: white;
    font-weight: 300;
    letter-spacing: 10px;
}

.team-text h1{
    font-size: 54px;
}

.team-items {
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.join-us {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,2)), url(/src/assets/images/Join.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 40px;
}

.join {
    color: white;
}

.join h1 {
    font-size: 48px;
}

.join p {
    width: 50%;
    font-size: 22px;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
}

button:hover {
    background-color: white;
    color: black;
    transition: .5s;
}

.blog {
    background-color: black;
    color: white;
    text-align: center;
    height: 100vh;
}

.blog-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-items h1{
    font-size: 48px;
}

.blog-items p {
    padding: 20px 40px;
    font-size: 24px;
    color: gainsboro;
}

.acts {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

@media screen and (max-width: 767px) {
    .section-text {
        flex-direction: column;
        text-align: center;
    }

    .left {
        width: 100%;
    }

    .left h5 {
        font-size: 10px;
        line-height: 20px;
        width: 100%;
    }

    .left h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .right {
        width: 100%;
    }

    .right p {
        font-size: 14px;
        color: gainsboro;
    }

    .card {
        height: 400px;
        width: 100%;
        margin: 10px 30px;
    }

    .teams {
        height: auto;
        padding: 40px 30px;
    }

    .team-text h5{
        font-size: 10px;
    }

    .team-text h1 {
        font-size: 36px;
        margin-top: 10px;
        padding: 0 20px;
    }

    .join {
        width: 100%;
    }

    .join h1 {
        font-size: 36px;
    }

    .join p {
        font-size: 22px;
        width: 100%;
    }

    .join button {
        font-size: 18px;
    }

    .top-left h3{
        font-size: 10px;
    }

    .top-right h3 {
        font-size: 10px;
    }

    .bottom-left {
        font-size: 10px ;
    }

    .blog-items h1{
        font-size: 30px;
        padding: 0 20px;
    }

    .blog-items p {
        font-size: 14px;
        color: gainsboro;
    }

    .join-us p {
        font-size: 16px;
    }

    .join-us button {
        font-size: 16px;
    }

    .acts {
        flex-direction: column;
        margin-top: 30px;
    }
}