@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url(/src/assets/images/background.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

.header-main {
    text-align: center;
    text-transform: uppercase;
}

.header-main h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .header-main h1 {
        font-size: 36px;
    }

    .header-main p {
        font-size: 12px;
        padding: 0 20px;
        color: gainsboro;
    }
}